.content-block {
    padding: 60px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    width: 100vw;
    background-image: url("./images/homelabBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 0px;
}


.title-block {
    width: 70vw;
    margin: 40px; 
    padding: 30px;
    height: 150px;
    font-size: 30px;
}

.pikvm-div {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}


.pikvm-image {
    width: 40vw;
}

.atx-image {
    width: 40vw;
}

.server-image {
    width: 40vw;
}

.pihole-image {
    width: 40vw;
}


