.content-block-style {
    padding: 60px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    width: 100vw;
    background-image: url("./images/beachImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 0px;
}

.title-text {
    font-size: 70px;
}

.intro-text {
    font-size: 35px;
    width: auto;
}

.first-text {
    width: 45vw;
}

.face-image {
    width: 45vw;
}

.face-image-div {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
    width: auto;
}


.tools-text {
    margin-top: 400px;
    margin-bottom: 400px;
}

.cs-languages-text {
    margin-top: 400px;
    margin-bottom: 400px;
}

.footer {
    width: 100vw;
    margin: 0px;
    background-color: #5582e1;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 0px;
}

.accomplishments {
    margin-bottom: 400px;
}

.hobbies {
    margin-bottom: 400px;
}

.hidden.hobbies {
    transform: translateX(-200%);
}

.hidden.tools-text {
    transform: translateX(-200%);
}

.hidden.face-image-div {
    transform: translateX(-200%);
}

