.git-content{
    padding: 60px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    width: 100vw;
    background-image: url("./images/mountainBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 0px;
}

.repo-header {
    width: 75vw;
}
